@font-face {
  font-family: 'Telefonica Light';
  src: url("../assets/fonts/TelefonicaWeb-Light.ttf");
}

@font-face {
  font-family: 'Telefonica Reg';
  src: url("../assets/fonts/TelefonicaWeb-Regular.ttf");
}

@font-face {
  font-family: 'Telefonica Bold';
  src: url("../assets/fonts/TelefonicaWeb-Bold.ttf");
}

@font-face {
  font-family: 'Guthen Bloots';
  src: url("../assets/fonts/Guthen Bloots Alt1.ttf");
}

html {
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.whatsapp__btn {
  position: fixed;
  right: 1%;
  bottom: 7%;
  z-index: 999;
}

.whatsapp__btn img {
  width: 55px;
  height: 55px;
}

header {
  height: 10rem;
}

header img {
  position: absolute;
  top: 2rem;
  left: 6rem;
  width: 5rem;
}

.plan-selection {
  width: 100%;
}

.plan-selection a {
  font-size: 1.4rem;
  font-family: "Telefonica Reg";
  padding-left: 7rem;
  margin-bottom: 5px;
  text-decoration: none;
}

.plan-selection a span {
  color: #b6b7b8;
}

.plan-selection a .active__desktop {
  color: #0b2739;
  border-bottom: 2px solid #019df4;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding-left: 7rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: #019df4;
  background-image: url(../assets/Img-desktop-HogarFibra.jpg.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 48rem;
  height: 38rem;
  font-family: "Telefonica Bold";
}

.hero__container .content .intro__text {
  color: #0b2739;
}

.hero__container .content .intro__text .fibra__intro {
  font-size: 2.5rem;
  font-family: "Telefonica Reg";
  margin: 5px 0 0 0;
}

.hero__container .content .intro__text .fibra__intro .text__bold {
  font-family: "Telefonica Bold";
  font-size: 3.5rem;
  color: #f5f5f5;
  text-transform: capitalize;
}

.hero__container .content .intro__text .plan__price {
  font-size: 28px;
  margin: 0;
}

.hero__container .content .plan__description {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero__container .content .plan__description .mes__gratis__plan {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #f5f5f5;
  border-radius: 15px;
  padding: 10px 20px;
  width: 18rem;
  height: 8rem;
}

.hero__container .content .plan__description .mes__gratis__plan span {
  font-size: 3.4rem;
  font-family: "Guthen Bloots";
  color: #f5f5f5;
}

.hero__container .content .plan__description .plus__plan__symbol {
  font-family: "Telefonica Light";
  font-weight: 600;
  font-size: 5.5rem;
}

.hero__container .content .plan__description .ahorras__plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
  color: #0b2739;
  width: 20rem;
  height: 10.3rem;
  border-radius: 15px;
}

.hero__container .content .plan__description .ahorras__plan p {
  text-align: center;
  font-family: "Telefonica Light";
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 1.7;
  margin: 0;
  letter-spacing: .7px;
}

.hero__container .content .form__container input, .hero__container .content .form__container button {
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 5px 15px;
  width: 25rem;
  height: 3.5rem;
  font-family: "Telefonica Light";
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
  color: #0b2739;
}

.hero__container .content .form__container button {
  width: 11rem;
  background: #b6b7b7;
  font-family: "Telefonica Reg";
  font-weight: 500;
  margin-left: -3rem;
  color: #f5f5f5;
}

.hero__container .content small {
  width: 80%;
  font-size: 1.2rem;
  font-family: "Telefonica Light";
  font-weight: 600;
  color: #50535a;
}

.planes__container * {
  font-family: "Telefonica Reg";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.planes__container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 305px;
  height: auto;
  text-align: center;
  border-radius: 25px;
  -webkit-filter: drop-shadow(2px 2px 3px rgba(170, 170, 170, 0.4));
          filter: drop-shadow(2px 2px 3px rgba(170, 170, 170, 0.4));
}

.planes__container .card .internet__title {
  color: #50535a;
  font-size: 14px;
  font-family: "Telefonica Reg";
}

.planes__container .card .precio__por__mes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.planes__container .card .precio__por__mes .megas {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: auto;
  font-family: "Telefonica Reg";
}

.planes__container .card .precio__por__mes .megas .mb__content .icon {
  font-size: 30px;
  color: #019df4;
}

.planes__container .card .precio__por__mes .megas .mb__content .mb__texto {
  font-size: 22px;
  font-family: "Telefonica Bold";
}

.planes__container .card .precio__por__mes .megas h3 {
  font-size: 30px;
}

.planes__container .card .precio__por__mes .megas small {
  font-size: 12px;
  font-family: "Telefonica Light";
}

.planes__container .card .precio__por__mes .megas small span {
  text-decoration: line-through;
}

.planes__container .card .mes__ahorro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-family: "Telefonica Light";
  letter-spacing: .1px;
}

.planes__container .card .mes__ahorro .mes__gratis {
  font-size: 1.27rem;
}

.planes__container .card .mes__ahorro .ahorro__mes {
  font-size: 1.17rem;
}

.planes__container .card .promo__exclusiva {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  background: #019df4;
  font-size: 1.2rem;
  height: 22px;
  font-family: "Telefonica Bold";
  color: white;
}

.planes__container .card .promo__movistar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.planes__container .card .promo__movistar .promo__movistar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.planes__container .card .promo__movistar .promo__movistar__container img {
  height: auto;
}

.planes__container .card .promo__movistar .promo__movistar__container__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  color: #4a4a4a;
  font-size: 1.2rem;
}

.planes__container .card .promo__movistar .promo__movistar__container__texto span:nth-child(1) {
  font-family: "Telefonica Bold";
}

.planes__container .card .dropdown {
  position: relative;
  width: 100%;
  height: 4rem;
}

.planes__container .card .dropdown::before {
  content: '';
  position: absolute;
  right: 40px;
  top: 7px;
  width: 11px;
  height: 11px;
  border: 3px solid #008dbb;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: .5s;
  transition: .5s;
  pointer-events: none;
}

.planes__container .card .dropdown.active {
  margin-bottom: 17rem;
}

.planes__container .card .dropdown.active::before {
  top: 13px;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.planes__container .card .dropdown input, .planes__container .card .dropdown .hero__container .content .form__container button, .hero__container .content .form__container .planes__container .card .dropdown button {
  cursor: pointer;
  color: #008dbb;
  font-family: "Telefonica Bold";
  font-size: 1.8rem;
  background: #fff;
  border: none;
  outline: none;
}

.planes__container .card .dropdown.active .option {
  display: block;
  height: auto;
}

.planes__container .card .dropdown .option {
  position: absolute;
  top: 50px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  display: none;
}

.planes__container .card .dropdown .option .plan__digital, .planes__container .card .dropdown .option .plan__max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3.2rem;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

.planes__container .card .dropdown .option .plan__digital .item, .planes__container .card .dropdown .option .plan__max .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: left;
}

.planes__container .card .dropdown .option .plan__digital .item:nth-child(1), .planes__container .card .dropdown .option .plan__max .item:nth-child(1) {
  font-size: 1.15rem;
}

.planes__container .card .dropdown .option .plan__digital .switch, .planes__container .card .dropdown .option .plan__max .switch {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 25px;
}

.planes__container .card .dropdown .option .plan__digital .switch input, .planes__container .card .dropdown .option .plan__max .switch input, .planes__container .card .dropdown .option .plan__digital .switch .hero__container .content .form__container button, .hero__container .content .form__container .planes__container .card .dropdown .option .plan__digital .switch button, .planes__container .card .dropdown .option .plan__max .switch .hero__container .content .form__container button, .hero__container .content .form__container .planes__container .card .dropdown .option .plan__max .switch button {
  opacity: 0;
  width: 0;
  height: 0;
}

.planes__container .card .dropdown .option .plan__digital .slider, .planes__container .card .dropdown .option .plan__max .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.planes__container .card .dropdown .option .plan__digital .slider:before, .planes__container .card .dropdown .option .plan__max .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.planes__container .card .dropdown .option .plan__digital input:checked + .slider, .planes__container .card .dropdown .option .plan__max input:checked + .slider, .planes__container .card .dropdown .option .plan__digital .hero__container .content .form__container button:checked + .slider, .hero__container .content .form__container .planes__container .card .dropdown .option .plan__digital button:checked + .slider, .planes__container .card .dropdown .option .plan__max .hero__container .content .form__container button:checked + .slider, .hero__container .content .form__container .planes__container .card .dropdown .option .plan__max button:checked + .slider {
  background-color: #019df4;
}

.planes__container .card .dropdown .option .plan__digital input:checked + .slider:before, .planes__container .card .dropdown .option .plan__max input:checked + .slider:before, .planes__container .card .dropdown .option .plan__digital .hero__container .content .form__container button:checked + .slider:before, .hero__container .content .form__container .planes__container .card .dropdown .option .plan__digital button:checked + .slider:before, .planes__container .card .dropdown .option .plan__max .hero__container .content .form__container button:checked + .slider:before, .hero__container .content .form__container .planes__container .card .dropdown .option .plan__max button:checked + .slider:before {
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
}

.planes__container .card .dropdown .option .plan__digital input:focus + .slider, .planes__container .card .dropdown .option .plan__max input:focus + .slider, .planes__container .card .dropdown .option .plan__digital .hero__container .content .form__container button:focus + .slider, .hero__container .content .form__container .planes__container .card .dropdown .option .plan__digital button:focus + .slider, .planes__container .card .dropdown .option .plan__max .hero__container .content .form__container button:focus + .slider, .hero__container .content .form__container .planes__container .card .dropdown .option .plan__max button:focus + .slider {
  -webkit-box-shadow: 0 0 1px #019df4;
          box-shadow: 0 0 1px #019df4;
}

.planes__container .card .dropdown .option .plan__digital .slider.round, .planes__container .card .dropdown .option .plan__max .slider.round {
  border-radius: 25px;
}

.planes__container .card .dropdown .option .plan__digital .slider.round:before, .planes__container .card .dropdown .option .plan__max .slider.round:before {
  border-radius: 50%;
}

.planes__container .card .dropdown .option .plan__max {
  border-top: none;
}

.planes__container .card .plan__select__btn {
  background: #0b2739;
  color: white;
  margin: 3rem 3.5rem 5rem;
  font-size: 1.7rem;
  font-family: "Telefonica Bold";
  height: 5rem;
  border-radius: 5rem;
}

@media screen and (max-width: 440px) {
  header {
    height: 10rem;
  }
  header img {
    position: absolute;
    top: 2rem;
    left: 4rem;
    width: 6rem;
  }
  .plan-selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #e9eae8;
  }
  .plan-selection div {
    width: 15rem;
    margin-top: 1rem;
    text-align: center;
  }
  .plan-selection div a {
    display: block;
    height: 6rem;
    padding: 5px;
    background: white;
    margin-right: 2rem;
    border-radius: 7px;
  }
  .plan-selection div a span {
    text-transform: none;
    color: #b6b7b8;
    padding: 0 5px;
    font-weight: 400;
  }
  .plan-selection .active {
    border-top: 4px solid #019df4;
    border-radius: 7px 7px 0;
    border-bottom: none;
  }
  .plan-selection .active span {
    color: #019df4;
    font-weight: 600;
  }
  .plan-selection .active .active__desktop {
    border-bottom: none;
  }
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    background-image: none;
    padding: 0 0 3rem;
  }
  .hero__container .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .hero__container .content .intro__text {
    text-align: center;
  }
  .hero__container .content .intro__text .fibra__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0;
    font-size: 3rem;
  }
  .hero__container .content .intro__text .fibra__intro .text__bold {
    font-size: 4rem;
  }
  .hero__container .content .intro__text .plan__price {
    font-size: 3.5rem;
  }
  .hero__container .content .plan__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
  }
  .hero__container .content .plan__description .mes__gratis__plan {
    width: 22rem;
    height: 9rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__container .content .plan__description .mes__gratis__plan span {
    font-size: 4.5rem;
  }
  .hero__container .content .plan__description .plus__plan__symbol {
    margin: -1.5rem;
  }
  .hero__container .content .plan__description .ahorras__plan {
    width: 22rem;
    height: 9rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__container .content .form__container {
    width: 30rem;
  }
  .hero__container .content .form__container input, .hero__container .content .form__container button {
    height: 4rem;
  }
  .hero__container .content .form__container button {
    margin-left: -5rem;
  }
  .hero__container .content small {
    margin-top: 4rem;
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=main.css.map */