@font-face {
  font-family: 'Telefonica Light';
  src: url('../assets/fonts/TelefonicaWeb-Light.ttf');
}

@font-face {
  font-family: 'Telefonica Reg';
  src: url('../assets/fonts/TelefonicaWeb-Regular.ttf');
}

@font-face {
  font-family: 'Telefonica Bold';
  src: url('../assets/fonts/TelefonicaWeb-Bold.ttf');
}

@font-face {
  font-family: 'Guthen Bloots';
  src: url('../assets/fonts/Guthen Bloots Alt1.ttf');
}

$font1-l: 'Telefonica Light';
$font1-r: 'Telefonica Reg';
$font1-b: 'Telefonica Bold';
$font2: 'Guthen Bloots';
$text-color-dark: #0b2739;
$text-color-white: #f5f5f5;