@import 'config';

html{font-size: 10px;}

.whatsapp__btn{
  position: fixed;
  right: 1%;
  bottom: 7%;
  z-index: 999;
  img{
    width: 65px;
    height: 65px;
  }
}

header{
  height: 10rem;
  img{
    position: absolute;
    top: 2rem;
    left: 6rem;
    width: 5rem;
  }
}

.plan-selection{
  width: 100%;
  a{
    font-size: 1.4rem;
    font-family: $font1-r;
    padding-left: 7rem;
    margin-bottom: 5px;
    text-decoration: none;
    span{
      color: #b6b7b8;
    }
    .active{
      color: $text-color-dark;
      border-bottom: 3px solid #019df4;
    }
  }
}

.hero__container{
  display: flex;
  width: 100%;
  height: auto;
  padding-left: 7rem;
  justify-content: left;
  background-color: #019df4;
  background-image: url(../assets/Img-desktop-HogarFibra.jpg.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  .content{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 48rem;
    height: 38rem;
    font-family: $font1-b;
    
    // Contenedor del primer bloque
    .intro__text{
      color: $text-color-dark;
      // en tu hogar
      .fibra__intro{
        font-size: 2.5rem;
        font-family: $font1-r;
        margin: 5px 0 0 0;
        // Internet Fibra
        .text__bold{
          font-family: $font1-b;
          font-size: 3.5rem;
          color: $text-color-white;
          text-transform: capitalize;
        }
      }
      // Planes desde $x
      .plan__price{
        font-size: 28px;
        margin: 0;
      }
    }

    // Contenedor del segundo bloque
    .plan__description{
      align-items: start;
      justify-content: flex-start;
      // 1 mes gratis
      .mes__gratis__plan{
        align-items: center;
        border: 2px solid $text-color-white;
        border-radius: 15px;
        padding: 10px 20px;
        width: 18rem;
        height: 8rem;
        span{
          font-size: 3.4rem;
          font-family: $font2;
          color: $text-color-white;
        }
      }
      // +
      .plus__plan__symbol{
        font-family: $font1-l;
        font-weight: 600;
        font-size: 5.5rem;
      }
      // Ahorras...
      .ahorras__plan{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $text-color-white;
        color: $text-color-dark;
        width: 20rem;
        height: 10.3rem;
        border-radius: 15px;
        p{
          text-align: center;
          font-family: $font1-l;
          font-size: 1.35rem;
          font-weight: 600;
          line-height: 1.7;
          margin: 0;
          letter-spacing: .7px;
        }
      }
    }

    // Contenedor del tercer bloque
    .form__container{
      input{
        border: none;
        outline: none;
        border-radius: 25px;
        padding: 5px 15px;
        width: 25rem;
        height: 3.5rem;
        font-family: $font1-l;
        font-weight: 400;
        font-size: 1.4rem;
        text-align: center;
        color: $text-color-dark;
      }
      button{
        @extend input;
        width: 11rem;
        background: #b6b7b7;
        font-family: $font1-r;
        font-weight: 500;
        margin-left: -3rem;
        color: $text-color-white;
    }
  }
  small{
    width: 80%;
    font-size: 1.2rem;
    font-family: $font1-l;
    font-weight: 600;
    color: #50535a;
  }
  }
}


@media screen and (max-width: 440px) {

  header{
    height: 10rem;
    img{
      position: absolute;
      top: 2rem;
      left: 4rem;
      width: 6rem;
    }
  }

  .plan-selection{
    display: flex;
    background: #e9eae8;
    div{
      width: 15rem;
      margin-top: 1rem;
      text-align: center;
      a{
        display: block;
        height: 6rem;
        padding: 5px;
        background: white;
        margin-right: 2rem;
        border-radius: 7px;
        span{
          text-transform: none;
          color: #b6b7b8;
          padding: 0 5px;
          font-weight: 400;
        }
        
      }
    }
    .active{
      border-top: 4px solid #019df4;
      border-radius: 7px 7px 0;  
      border-bottom: none;
      span{
        color: #019df4;
        font-weight: 600;
      }
    }
  }
  
  .hero__container{
    height: auto;
    background-image: none;
    padding: 0 0 3rem;
    .content{
      display: flex;
      flex-flow: column;
      height: auto;
      align-items: center;
      justify-content: space-evenly;
      // Contenedor del primer bloque
      .intro__text{
        text-align: center;
        // en tu hogar
        .fibra__intro{
          display: flex;
          flex-flow: column;
          margin: 0;
          font-size: 3rem;
          .text__bold{
            font-size: 4rem;
          }
        }
        // Planes desde $x
        .plan__price{
          font-size: 3.5rem;
        }
      }
  
      // Contenedor del segundo bloque
      .plan__description{
        // 1 mes gratis
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        
        .mes__gratis__plan{
          width: 22rem;
          height: 9rem;
          align-items: center;
          span{
            font-size: 4.5rem;
          }
        }

        .plus__plan__symbol{margin: -1.5rem;}

        .ahorras__plan{
          width: 22rem;
          height: 9rem;
          align-items: center;
        }

      }
  
      // Contenedor del tercer bloque
      .form__container{
        width: 30rem;
        input{
          height: 4rem;
        }
        button{
          margin-left: -5rem;
        }
      }
      small{
        margin-top: 4rem;
        font-size: 1.3rem;
      }
    }
  }
}