@font-face {
  font-family: 'Telefonica Light';
  src: url("../assets/fonts/TelefonicaWeb-Light.ttf");
}

@font-face {
  font-family: 'Telefonica Reg';
  src: url("../assets/fonts/TelefonicaWeb-Regular.ttf");
}

@font-face {
  font-family: 'Telefonica Bold';
  src: url("../assets/fonts/TelefonicaWeb-Bold.ttf");
}

@font-face {
  font-family: 'Guthen Bloots';
  src: url("../assets/fonts/Guthen Bloots Alt1.ttf");
}

html {
  font-size: 10px;
}

.whatsapp__btn {
  position: fixed;
  right: 1%;
  bottom: 7%;
  z-index: 999;
}

.whatsapp__btn img {
  width: 65px;
  height: 65px;
}

header {
  height: 10rem;
}

header img {
  position: absolute;
  top: 2rem;
  left: 6rem;
  width: 5rem;
}

.plan-selection {
  width: 100%;
}

.plan-selection a {
  font-size: 1.4rem;
  font-family: "Telefonica Reg";
  padding-left: 7rem;
  margin-bottom: 5px;
  text-decoration: none;
}

.plan-selection a span {
  color: #b6b7b8;
}

.plan-selection a .active {
  color: #0b2739;
  border-bottom: 3px solid #019df4;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding-left: 7rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: #019df4;
  background-image: url(../assets/Img-desktop-HogarFibra.jpg.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 48rem;
  height: 38rem;
  font-family: "Telefonica Bold";
}

.hero__container .content .intro__text {
  color: #0b2739;
}

.hero__container .content .intro__text .fibra__intro {
  font-size: 2.5rem;
  font-family: "Telefonica Reg";
  margin: 5px 0 0 0;
}

.hero__container .content .intro__text .fibra__intro .text__bold {
  font-family: "Telefonica Bold";
  font-size: 3.5rem;
  color: #f5f5f5;
  text-transform: capitalize;
}

.hero__container .content .intro__text .plan__price {
  font-size: 28px;
  margin: 0;
}

.hero__container .content .plan__description {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero__container .content .plan__description .mes__gratis__plan {
  border: 2px solid #f5f5f5;
  border-radius: 15px;
  padding: 10px 20px;
}

.hero__container .content .plan__description .mes__gratis__plan span {
  font-size: 3.4rem;
  font-family: "Guthen Bloots";
  color: #f5f5f5;
}

.hero__container .content .plan__description .plus__plan__symbol {
  font-family: "Telefonica Light";
  font-weight: 600;
  font-size: 5.5rem;
}

.hero__container .content .plan__description .ahorras__plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
  color: #0b2739;
  width: 20rem;
  height: 10.3rem;
  border-radius: 15px;
}

.hero__container .content .plan__description .ahorras__plan p {
  text-align: center;
  font-family: "Telefonica Light";
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 1.7;
  margin: 0;
  letter-spacing: .7px;
}

.hero__container .content .form__container input, .hero__container .content .form__container button {
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 5px 15px;
  width: 25rem;
  height: 3.5rem;
  font-family: "Telefonica Light";
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
  color: #0b2739;
}

.hero__container .content .form__container button {
  width: 11rem;
  background: #b6b7b7;
  font-family: "Telefonica Reg";
  font-weight: 500;
  margin-left: -3rem;
  color: #f5f5f5;
}

.hero__container .content small {
  width: 80%;
  font-size: 1.2rem;
  font-family: "Telefonica Light";
  font-weight: 600;
  color: #50535a;
}

@media screen and (max-width: 440px) {
  header {
    height: 10rem;
  }
  header img {
    position: absolute;
    top: 2rem;
    left: 4rem;
    width: 6rem;
  }
  .plan-selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #e9eae8;
  }
  .plan-selection div {
    width: 15rem;
    margin-top: 1rem;
    text-align: center;
  }
  .plan-selection div a {
    display: block;
    height: 6rem;
    padding: 5px;
    background: white;
    margin-right: 2rem;
    border-radius: 7px;
  }
  .plan-selection div a span {
    text-transform: none;
    color: #b6b7b8;
    padding: 0 5px;
    font-weight: 400;
  }
  .plan-selection .active {
    border-top: 4px solid #019df4;
    border-radius: 7px 7px 0;
    border-bottom: none;
  }
  .plan-selection .active span {
    color: #019df4;
    font-weight: 600;
  }
  .hero__container {
    height: auto;
    background-image: none;
    padding: 0 0 3rem;
  }
  .hero__container .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .hero__container .content .intro__text {
    text-align: center;
  }
  .hero__container .content .intro__text .fibra__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0;
    font-size: 3rem;
  }
  .hero__container .content .intro__text .fibra__intro .text__bold {
    font-size: 4rem;
  }
  .hero__container .content .intro__text .plan__price {
    font-size: 3.5rem;
  }
  .hero__container .content .plan__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
  }
  .hero__container .content .plan__description .mes__gratis__plan {
    width: 22rem;
    height: 9rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__container .content .plan__description .mes__gratis__plan span {
    font-size: 4.5rem;
  }
  .hero__container .content .plan__description .plus__plan__symbol {
    margin: -1.5rem;
  }
  .hero__container .content .plan__description .ahorras__plan {
    width: 22rem;
    height: 9rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__container .content .form__container {
    width: 30rem;
  }
  .hero__container .content .form__container input, .hero__container .content .form__container button {
    height: 4rem;
  }
  .hero__container .content .form__container button {
    margin-left: -5rem;
  }
  .hero__container .content small {
    margin-top: 4rem;
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=main.css.map */