body {
  font-family: "Titillium Web", sans-serif, sans-serif;
}

.navbar {
  position: fixed;
  background: whitesmoke;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar .container a img {
  min-width: 50px;
  max-width: 70px;
}

.navbar .container button {
  outline: none;
  color: #333;
  background: whitesmoke;
  border: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbar .container button:hover {
  color: whitesmoke;
  background: #333;
}

.navbar .container button .menu-bar {
  font-size: 1.5rem;
}

.navbar .container .navbar-collapse ul li .nav-link {
  color: #222;
}

.navbar .container .navbar-collapse ul li .nav-link:active {
  color: rgba(34, 34, 34, 0.5);
}

#hero {
  background-image: url("../assets/hero.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

#hero .container-fluid h1 {
  font-size: 4.2rem;
  font-weight: 600;
}

#hero .container-fluid p {
  font-size: 1.2rem;
  width: 75%;
  line-height: 2;
}

#hero .container-fluid button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#products .main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
}

#products .main__container .text__container {
  margin: 5rem;
}

#products .main__container .text__container h1 {
  font-size: 2.9rem;
  margin-bottom: 2rem;
}

#products .main__container .row .img-cont {
  position: relative;
  display: inline-block;
}

#products .main__container .row .img-cont img {
  background-size: cover;
  width: 25rem;
  height: 25rem;
  position: relative;
  width: 100%;
  height: auto;
}

#products .main__container .row .img-cont .product__title {
  font-size: 1.8em;
  position: absolute;
  bottom: 15%;
  left: 10%;
}

#products .main__container .row .img-cont .product__desc {
  font-size: 1.2em;
  position: absolute;
  bottom: 5%;
  left: 12%;
}

#team .main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
}

#team .main__container .text__container {
  margin: 5rem;
}

#team .main__container .text__container h1 {
  font-size: 2.9rem;
  margin-bottom: 2rem;
}

#team .main__container .row .img-cont {
  position: relative;
}

#team .main__container .row .img-cont img {
  background-size: cover;
  width: auto;
  height: 1rem;
  height: auto;
}

#team .main__container .row .img-cont .team__title {
  font-size: 1.8em;
  position: absolute;
  bottom: 20%;
  left: 10%;
}

#team .main__container .row .img-cont .team__desc {
  font-size: 1.2em;
  position: absolute;
  bottom: 15%;
  left: 12%;
}

#team .main__container .row .img-cont .team__social__media {
  font-size: 1.2em;
  position: absolute;
  bottom: 10%;
  left: 12%;
}

#team .main__container .row .img-cont .team__social__media .social__icon:nth-child(1) {
  padding: 0 0 0 1rem;
}

@media only screen and (max-width: 574px) {
  #hero .container-fluid h1 {
    font-size: 3rem;
  }
  #products .main__container .row .img-cont .product__text__container .product__title {
    position: absolute;
    font-size: 45px;
    bottom: 60px;
    left: 50px;
  }
  #products .main__container .row .img-cont .product__text__container .product__desc {
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: rgba(255, 255, 255, 0.8);
  }
  #team .main__container .row .img-cont .team__text__container .team__title {
    position: absolute;
    font-size: 45px;
    bottom: 60px;
    left: 50px;
  }
  #team .main__container .row .img-cont .team__text__container .team__desc {
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (max-width: 599px) {
  #products .main__container .row .img-cont .product__text__container .product__title {
    position: absolute;
    font-size: 25px;
    bottom: 50px;
    left: 40px;
  }
  #products .main__container .row .img-cont .product__text__container .product__desc {
    position: absolute;
    font-size: 15px;
    bottom: 20px;
    left: 40px;
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 600px) {
  #products .main__container .row .img-cont .product__text__container .product__title {
    position: absolute;
    font-size: 25px;
    bottom: 50px;
    left: 40px;
  }
  #products .main__container .row .img-cont .product__text__container .product__desc {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 769px) {
  #products .main__container .row .img-cont .product__text__container .product__title {
    position: absolute;
    font-size: 30px;
    bottom: 50px;
    left: 40px;
  }
  #products .main__container .row .img-cont .product__text__container .product__desc {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 993px) {
  #products .main__container .row .img-cont .product__text__container .product__title {
    position: absolute;
    font-size: 45px;
    bottom: 70px;
    left: 40px;
  }
  #products .main__container .row .img-cont .product__text__container .product__desc {
    position: absolute;
    bottom: 30px;
    left: 40px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 1200px) {
  #products .main__container .row .img-cont .product__text__container .product__title {
    position: absolute;
    font-size: 50px;
    bottom: 70px;
    left: 40px;
  }
  #products .main__container .row .img-cont .product__text__container .product__desc {
    position: absolute;
    bottom: 30px;
    left: 40px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
  }
}
/*# sourceMappingURL=main.css.map */