@import 'config';

body{
  font-family: $fontPrimary, sans-serif;
}

.navbar{
  position: fixed;
  background: $white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  .container{
    a{
      img{
        min-width: 50px;
        max-width: 70px;
      }
    }

    button{
      outline: none;
      color: $dark;
      background: rgb(245, 245, 245);
      border: none;
      transition: all .3s;
      &:hover{
        color: whitesmoke;
        background: $dark;
      }
      .menu-bar{font-size: 1.5rem;}
    }

    .navbar-collapse{
      ul{li{.nav-link{
            color: #222;
            &:active{
              color: rgba(34, 34, 34, .5);
            }}}}
    }

  }
}

// Encabezado
#hero{
  background-image: url('../assets/hero.jpg');
  background-size: cover;
  // background-attachment: fixed;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  color: $white;
  display: flex;
  align-items: center;

  .container-fluid{
    // outline: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: auto;
    h1{
      font-size: 4.2rem;
      font-weight: 600;
    }
    p{
      font-size: 1.2rem;
      width: 75%;
      line-height: 2;
    }
    button{
      display: flex;
      align-items: center;
    }
  }
}

// Portafolio
#products{
  .main__container{
    display: flex;
    flex-flow: column;
    align-items: center;
    color: $dark;
    .text__container{
      margin: 5rem;
      h1{font-size: 2.9rem;margin-bottom: 2rem;}
    }
    .row{
      .img-cont{
        position: relative;
        display: inline-block;
        img{
          background-size: cover;
          width: 25rem;
          height: 25rem;
          position: relative;
          width: 100%;
          height: auto;
        }
        .product__title{
          font-size: 1.8em;
          position: absolute;
          bottom: 15%;
          left: 10%;
        }
        .product__desc{
          font-size: 1.2em;
          position: absolute;
          bottom: 5%;
          left: 12%;
          // transform: translate(-10%, -10%);
        }
      }
    }
  }
}

// Equipo
#team{
  .main__container{
    display: flex;
    flex-flow: column;
    align-items: center;
    color: $dark;
    .text__container{
      margin: 5rem;
      h1{font-size: 2.9rem;margin-bottom: 2rem;}
    }
    .row{
      .img-cont{
        position: relative;
        // display: inline-block;
        img{
          background-size: cover;
          width: auto;
          height: 1rem;
          height: auto;
        }
        .team__title{
          font-size: 1.8em;
          position: absolute;
          bottom: 20%;
          left: 10%;
        }
        .team__desc{
          font-size: 1.2em;
          position: absolute;
          bottom: 15%;
          left: 12%;
        }
        .team__social__media{
          font-size: 1.2em;
          position: absolute;
          bottom: 10%;
          left: 12%;
          .social__icon:nth-child(1){
            padding: 0 0 0 1rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 574px) {
  #hero{.container-fluid{h1{font-size: 3rem;}}}
  
  #products{
    .main__container{
      .row{
        .img-cont{
          .product__text__container{
            .product__title{
              position: absolute;
              font-size:45px;
              bottom: 60px;
              left: 50px;
            }
            .product__desc{
              position: absolute;
              bottom: 30px;
              left: 50px;
              color: rgba(255,255,255, .8);
            }
          }
        }
      }
    }
  }
  // Fin de #products
  
  #team{
    .main__container{
      .row{
        .img-cont{
          .team__text__container{
            .team__title{
              position: absolute;
              font-size:45px;
              bottom: 60px;
              left: 50px;
            }
            .team__desc{
              position: absolute;
              bottom: 30px;
              left: 50px;
              color: rgba(255,255,255, .8);
            }
          }
        }
      }
    }
  }
  // Fin de #team
  
}

@media only screen and (max-width: 599px) {
  #products{
    .main__container{
      .row{
        .img-cont{
          .product__text__container{
            .product__title{
              position: absolute;
              font-size:25px;
              bottom: 50px;
              left: 40px;
            }
            .product__desc{
              position: absolute;
              font-size: 15px;
              bottom: 20px;
              left: 40px;
              color: rgba(255,255,255, .8);
            }
          }
        }
      }
    }
  }
  // Fin de #products
}

@media only screen and (min-width: 600px){
  #products{
    .main__container{
      .row{
        .img-cont{
          .product__text__container{
            .product__title{
              position: absolute;
              font-size:25px;
              bottom: 50px;
              left: 40px;
            }
            .product__desc{
              position: absolute;
              bottom: 20px;
              left: 40px;
              color: rgba(255,255,255, .8);
            }
          }
        }
      }
    }
  }
  // Fin de #products
}

@media only screen and (min-width: 769px){
  #products{
    .main__container{
      .row{
        .img-cont{
          .product__text__container{
            .product__title{
              position: absolute;
              font-size:30px;
              bottom: 50px;
              left: 40px;
            }
            .product__desc{
              position: absolute;
              bottom: 20px;
              left: 40px;
              color: rgba(255,255,255, .8);
            }
          }
        }
      }
    }
  }
  // Fin de #products
}

@media only screen and (min-width: 993px){
  #products{
    .main__container{
      .row{
        .img-cont{
          .product__text__container{
            .product__title{
              position: absolute;
              font-size:45px;
              bottom: 70px;
              left: 40px;
            }
            .product__desc{
              position: absolute;
              bottom: 30px;
              left: 40px;
              font-size: 20px;
              color: rgba(255,255,255, .8);
            }
          }
        }
      }
    }
  }
  // Fin de #products
}

@media only screen and (min-width: 1200px) {
  #products{
    .main__container{
      .row{
        .img-cont{
          .product__text__container{
            .product__title{
              position: absolute;
              font-size:50px;
              bottom: 70px;
              left: 40px;
            }
            .product__desc{
              position: absolute;
              bottom: 30px;
              left: 40px;
              font-size: 20px;
              color: rgba(255,255,255, .8);
            }
          }
        }
      }
    }
  }
  // Fin de #products
} 