@import 'config';

html{font-size: 10px;}

header{
  height: 10rem;
  img{
    position: absolute;
    top: 2rem;
    left: 6rem;
    width: 5rem;
  }
}

.plan-selection{
  width: 100%;
  a{
    font-size: 1.4rem;
    font-family: $font1-r;
    padding-left: 7rem;
    margin-bottom: 5px;
    text-decoration: none;
    span{
      color: #b6b7b8;
    }
    .active{
      color: $text-color-dark;
      border-bottom: 3px solid #019df4;
    }
  }
}

.hero__container{
  display: flex;
  width: 100%;
  height: auto;
  padding-left: 7rem;
  justify-content: left;
  background-color: #019df4;
  background-image: url(../assets/Img-desktop-HogarFibra.jpg.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  .content{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 48rem;
    height: 38rem;
    font-family: $font1-b;
    
    // Contenedor del primer bloque
    .intro__text{
      color: $text-color-dark;
      // en tu hogar
      .fibra__intro{
        font-size: 2.5rem;
        font-family: $font1-r;
        margin: 5px 0 0 0;
        // Internet Fibra
        .text__bold{
          font-family: $font1-b;
          font-size: 3.5rem;
          color: $text-color-white;
          text-transform: capitalize;
        }
      }
      // Planes desde $x
      .plan__price{
        font-size: 28px;
        margin: 0;
      }
    }

    // Contenedor del segundo bloque
    .plan__description{
      align-items: start;
      justify-content: flex-start;
      // 1 mes gratis
      .mes__gratis__plan{
        border: 2px solid $text-color-white;
        border-radius: 15px;
        padding: 10px 20px;
        span{
          font-size: 3.4rem;
          font-family: $font2;
          color: $text-color-white;
        }
      }
      // +
      .plus__plan__symbol{
        font-family: $font1-l;
        font-weight: 600;
        font-size: 5.5rem;
      }
      // Ahorras...
      .ahorras__plan{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $text-color-white;
        color: $text-color-dark;
        width: 20rem;
        height: 10.3rem;
        border-radius: 15px;
        p{
          text-align: center;
          font-family: $font1-l;
          font-size: 1.35rem;
          font-weight: 600;
          line-height: 1.7;
          margin: 0;
          letter-spacing: .7px;
        }
      }
    }

    // Contenedor del tercer bloque
    .form__container{
      input{
        border: none;
        outline: none;
        border-radius: 25px;
        padding: 5px 15px;
        width: 25rem;
        height: 3.5rem;
        font-family: $font1-l;
        font-weight: 400;
        font-size: 1.4rem;
        text-align: center;
        color: $text-color-dark;
      }
      button{
        @extend input;
        width: 11rem;
        background: #b6b7b7;
        font-family: $font1-r;
        font-weight: 500;
        margin-left: -3rem;
        color: $text-color-white;
    }
  }
  small{
    width: 80%;
    font-size: 1.2rem;
    font-family: $font1-l;
    font-weight: 600;
    color: #50535a;
  }
  }
}